@import "variables.scss";
@import "functions.scss";

@mixin media($breakpoint, $first: desktop) {
    @if (type-of($breakpoint) == string) {
        $breakpoint: map-get($breakpoints, $breakpoint);
    }

    @if ($first == desktop) {
        @media screen and (max-width: $breakpoint) {
            @content;
        }
    }

    @if ($first == mobile) {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin reset {
    margin: 0px;
    padding: 0px;
}

@mixin spacings-adaptive {
    @each $breakpoint, $spacing in reversedMap($spacings) {
        @include media(map-get($breakpoints, $breakpoint)) {
            padding-left: $spacing;
            padding-right: $spacing;
        }
    }
}

@mixin container {
    box-sizing: border-box;
    min-width: $viewport-min;
    max-width: $viewport-max;
    padding: 0 40px;
    margin: 0 auto;

    @include spacings-adaptive;
}

@mixin flexFontSize($minsize, $maxsize, $viewport-min, $viewport-max) {
    font-size: flexFontSizeFormula($minsize, $maxsize, $viewport-min, $viewport-max);

    @include media($viewport-min, desktop) {
        font-size: $minsize;
    }

    @include media($viewport-max, mobile) {
        font-size: $maxsize;
    }
}
