$color-light-0: white;
$color-light-10: #cacaca;
$color-light-20: #8c8c8c;
$color-light-30: #808080;
$color-light-40: #555555;

$color-darker: black;
$color-dark: #3C3B3D;

$color-green: #34c176;
$color-pink: #ff4157;
$color-purple: #5328a1;
$color-orange-lighter: #f89202;
$color-orange-darker: #95390c;

$gradient-footer: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);

$breakpoints: (
  small: 320px,
  small-2: 375px,
  small-3: 425px,
  medium: 768px,
  large: 1024px,
  large-2: 1280px
);

$spacings: (
  small: 20px,
  small-2: 20px,
  small-3: 20px,
  medium: 30px,
  large: 40px,
  large-2: 40px
);

$viewport-min: 320px;
$viewport-max: 1280px;