$light-0: white;
$light-10: #cacaca;
$light-20: #8c8c8c;
$light-30: #808080;
$light-40: #555555;

$dark: black;

$green: #34c176;
$pink: #ff4157;
$purple: #5328a1;
$orange-lighter: #f89202;
$orange-darker: #95390c;

$footer-gradient: linear-gradient(89.02deg, #5328A1 32.83%, #95390C 81.56%);
