$light-100: #fff;
$light-200: #e0e0e0;
$light-400: #cacaca;
$light-700: #757575;

$dark-400: #3c3b3d;
$dark-700: #08020d;

$gradient-1: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);

$accent-1: #34c176;
$accent-2: #f89202;
$accent-3: #5328a1;
$accent-4: #95390c;
