@font-face {
  font-family: 'Roboto';
  font-weight: 400; /* Соответствует значению normal */
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700; /* Соответствует значению bold */
  src: url('../fonts/Roboto-Bold.ttf');
}

body {
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  margin: 0;
}
