@use './colors.scss';
@use './header.scss';
@use './banner.scss';
@use './subscribe.scss';

@font-face {
  font-family: 'Roboto';
  font-weight: 400; /* Соответствует значению normal */
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700; /* Соответствует значению bold */
  src: url('../fonts/Roboto-Bold.ttf');
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

$breakpoint: 850px;

body {
  background: colors.$dark-700;
  color: colors.$light-400;
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: colors.$light-100;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;

  @media only screen and (min-width: $breakpoint) {
    font-size: 6rem;
    line-height: 9rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 2.7rem;

  @media only screen and (min-width: $breakpoint) {
    font-size: 3.8rem;
    line-height: 5.7rem;
  }
}

header,
section,
footer {
  padding: 0 2rem;
}

header {
  margin-top: 2.5rem;
  position: absolute;
  width: 100%;
}

section {
  padding-top: 10rem;

  &:last-child {
    padding-bottom: 10rem;
  }
}
