.default {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.header {
  position: absolute;
  width: 100%;
  margin-top: 25px;
}
.header .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  max-width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .header .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo {
  display: flex;
  order: 1;
  margin: 0 100px 17px 0;
}
.logo img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.logo span {
  margin-top: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  order: 2;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.nav ul li {
  margin: 4px 36.6px 6px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #808080;
}
.nav ul .current a {
  color: white;
}
@media screen and (max-width: 768px) {
  .nav {
    order: 3;
  }
}
@media screen and (max-width: 425px) {
  .nav {
    max-width: 70%;
  }
}
@media screen and (max-width: 375px) {
  .nav {
    max-width: 40%;
  }
}

.search {
  box-sizing: border-box;
  min-width: 280px;
  height: 30px;
  padding: 0 14px;
  margin-bottom: 20px;
  border-radius: 50px;
  border-width: 0;
  background: #3C3B3D;
  order: 3;
}
.search::placeholder {
  color: #808080;
}
@media screen and (max-width: 768px) {
  .search {
    order: 2;
  }
}

.banner {
  background-image: url(../../images/banner.png);
}
.banner .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding-top: 250px;
  padding-bottom: 250px;
}
@media screen and (max-width: 768px) {
  .banner .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.banner .container h1 {
  margin: 0px;
  padding: 0px;
  font-size: calc((100vw - 320px) * 0.03125 + 30px);
  text-align: center;
}
@media screen and (max-width: 320px) {
  .banner .container h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .banner .container h1 {
    font-size: 60px;
  }
}
.banner .container h2 {
  margin: 0px;
  padding: 0px;
  font-size: calc((100vw - 320px) * 0.0125 + 18px);
  text-align: center;
  margin-bottom: 45px;
}
@media screen and (max-width: 320px) {
  .banner .container h2 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .banner .container h2 {
    font-size: 30px;
  }
}
.banner .container span {
  font-size: calc((100vw - 320px) * 0.00625 + 12px);
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 320px) {
  .banner .container span {
    font-size: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .banner .container span {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .banner .container {
    padding-bottom: 50px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
  max-width: 570px;
}

.form-input {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 15px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 17px 20px;
  margin-bottom: 30px;
}
.form-input::placeholder {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.form-button {
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 15px;
  height: 50px;
  min-width: 280px;
  background: #34c176;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
